.chat-app {
    width: 100%;
    height: 500px;
    display: flex;
}

.chat-app .no-content-message {
        color: #cccccc;
        font-style: italic;
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }

    .chat-app .channel-list {
        width: calc(20% - 12px);
        border: 1px solid rgb(224, 224, 224);
        margin: 10px;
        margin-right: 0;
        border-right: none;
        height: calc(100% - 22px);
    }

    .chat-app .channel-item {
        border-bottom: 1px solid rgb(224, 224, 224);
        padding: 10px;
    }

        .chat-app .channel-item div {
            font-weight: bold;
        }

        .chat-app .channel-item span {
            font-size: 10px;
        }

        .chat-app .channel-item :hover {
            background-color: rgb(224, 224, 224);
            cursor: pointer;
        }

    .messages-panel {
        width: calc(80% - 12px);
        border: 1px solid rgb(224, 224, 224);
        margin: 10px;
        margin-left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .messages-panel .meesages-list {
            align-self: stretch;
            height: 100%;
        }

        .messages-panel  .messages-input {
            width: 100%;
            height: 40px;
            border-top: 1px solid rgb(224, 224, 224);
            background-color: #f0f0f0;
            display: flex;
        }

            .messages-panel  .messages-input input {
                margin: auto;
                height: 20px;
                width: 100%;
                margin-left: 15px;
                border-radius: 15px;
                border: 1px solid rgb(224, 224, 224);
            }

            .messages-panel  .messages-input input:focus {
                    border-radius: 15px;
                    border: 2px solid #66a6ff;
                    outline: none;
                }

            .messages-panel  .messages-input button {
                width: 60px;
                margin: auto 10px;
                background-color: #0e62da;
                color: white;
                border: 1px solid;
                border-radius: 10px;
                padding: 5px 13px;
            }

                .messages-panel  .messages-input button:hover {
                    cursor: pointer;
                    background-color: #66a6ff;
                }
